<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>h2</id>
			<properties>
				<db.schema></db.schema>
				<db.user>${h2.user}</db.user>
				<db.password>${h2.password}</db.password>
				<db.jdbcDriver>${h2.jdbcDriver}</db.jdbcDriver>
				<db.url>${h2.url}</db.url>
				<db.adminUser>${h2.adminUser}</db.adminUser>
				<db.adminPassword></db.adminPassword>
 				<dba.useDB>h2</dba.useDB>
			</properties>
		</profile>
		<profile>
			<id>db2</id>
			<properties>
				<db.schema>${db2.schema}</db.schema>
				<db.anotherSchema>${db2.anotherSchema}</db.anotherSchema>
				<db.user>${db2.user}</db.user>
				<db.password>${db2.password}</db.password>
				<db.jdbcDriver>${db2.jdbcDriver}</db.jdbcDriver>
				<db.url>${db2.url}</db.url>
				<db.adminUser>${db2.adminUser}</db.adminUser>
				<db.adminPassword>${db2.adminPassword}</db.adminPassword>
				<dba.useDB>db2</dba.useDB>
			</properties>
		</profile>
		<profile>
			<id>oracle</id>
			<properties>
				<db.schema>${oracle.schema}</db.schema>
				<db.anotherSchema>${oracle.anotherSchema}</db.anotherSchema>
				<db.user>${oracle.user}</db.user>
				<db.password>${oracle.password}</db.password>
				<db.connectIdentifier>${oracle.connectIdentifier}</db.connectIdentifier>
				<db.jdbcDriver>${oracle.jdbcDriver}</db.jdbcDriver>
				<db.url>${oracle.url}</db.url>
				<db.adminUser>${oracle.adminUser}</db.adminUser>
				<db.adminPassword>${oracle.adminPassword}</db.adminPassword>
				<dba.useDB>oracle</dba.useDB>
			</properties>
		</profile>
		<profile>
			<id>mysql</id>
			<properties>
				<db.schema></db.schema>
				<db.user>${mysql.user}</db.user>
				<db.password>${mysql.password}</db.password>
				<db.jdbcDriver>${mysql.jdbcDriver}</db.jdbcDriver>
				<db.url>${mysql.url}</db.url>
				<db.adminUser>${mysql.adminUser}</db.adminUser>
				<db.adminPassword>${mysql.adminPassword}</db.adminPassword>
				<dba.useDB>mysql</dba.useDB>
			</properties>
		</profile>
		<profile>
			<id>postgresql</id>
			<properties>
				<db.schema>${postgresql.schema}</db.schema>
				<db.anotherSchema>${postgresql.anotherSchema}</db.anotherSchema>
				<db.user>${postgresql.user}</db.user>
				<db.password>${postgresql.password}</db.password>
				<db.jdbcDriver>${postgresql.jdbcDriver}</db.jdbcDriver>
				<db.url>${postgresql.url}</db.url>
				<db.adminUser>${postgresql.adminUser}</db.adminUser>
				<db.adminPassword>${postgresql.adminPassword}</db.adminPassword>
				<dba.useDB>postgresql</dba.useDB>
			</properties>
		</profile>
		<profile>
			<id>sqlserver</id>
			<properties>
				<db.schema>${sqlserver.schema}</db.schema>
				<db.anotherSchema>${postgresql.anotherSchema}</db.anotherSchema>
				<db.user>${sqlserver.user}</db.user>
				<db.password>${sqlserver.password}</db.password>
				<db.jdbcDriver>${sqlserver.jdbcDriver}</db.jdbcDriver>
				<db.url>${sqlserver.url}</db.url>
				<db.adminUser>${sqlserver.adminUser}</db.adminUser>
				<db.adminPassword>${sqlserver.adminPassword}</db.adminPassword>
				<dba.useDB>sqlserver</dba.useDB>
			</properties>
		</profile>
	</profiles>
</settings>
